article {
  margin: auto;
}

article main {
  margin: auto;
  max-width: 70ch;
  padding: 1rem;
  border-radius: .5rem;
}

article aside {
  margin: 1rem auto;
  max-width: 60ch;
  padding: 1rem;

  border-top: 5px solid #2f2f2f;
}

h1 {
  font-weight: 400;
  font-style: italic;
  font-size: 36px;
}

